/*Common Styles*/
* {
    font-family: 'Gowun Dodum', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
    overflow-y: hidden;
    background: #a9d6e5;
}

/*Main Styles*/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    min-width: fit-content;
}

.header-section {
    height: 185px;
    display: flex;
    align-items: center;
}

.header {
    white-space: nowrap;
    letter-spacing: 0.1rem;
    margin: 0;
    text-transform: uppercase;
    color: #012a4a;
    font-size: 5vw;
}

.reset-btn {
    opacity: 0;
    height: 100px;
    margin-top: -125px;
    font-size: 3.5rem;
}

.reset-btn:focus {
    outline: none;
}

.reset-btn:focus,
.reset-btn:hover,
.reset-btn:active {
    box-shadow: 0 0 20px 4px #fbfbfb;
}

.reset-btn:hover,
.reset-btn:active {
    color: #012a4a;
    background: #fbfbfb;
}

.reset-btn-show {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 1rem;
    background: #012a4a;
    color: #fbfbfb;
    border-radius: 8px;
    border: none;
    letter-spacing: 0.5rem;
    padding: 0 2rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

/*Cards Styles*/
.cards-section {
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
}

.flip-card {
    width: 10vw;
    height: 10vh;
    min-width: 120px;
    min-height: 120px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 5px;
}

.flip-card:focus {
    outline: none;
}

.flip-card:focus:not(.flip-card-active):not(.flip-card-correct),
.flip-card:hover:not(.flip-card-active):not(.flip-card-correct),
.flip-card:active:not(.flip-card-active):not(.flip-card-correct) {
    border: 4px solid #013a63;
    margin: -4px;
}

.flip-card:focus:not(.flip-card-active):not(.flip-card-correct) .flip-card-front,
.flip-card:focus:not(.flip-card-active):not(.flip-card-correct) .flip-card-back,
.flip-card:hover:not(.flip-card-active):not(.flip-card-correct) .flip-card-front,
.flip-card:hover:not(.flip-card-active):not(.flip-card-correct) .flip-card-back,
.flip-card:active:not(.flip-card-active):not(.flip-card-correct) .flip-card-front,
.flip-card:active:not(.flip-card-active):not(.flip-card-correct) .flip-card-back {
    border-radius: initial;
}

.flip-card-inner {
    border-radius: inherit;
    position: relative;
    height: inherit;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.flip-card-correct .flip-card-inner,
.flip-card-active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
}

.flip-card-front {
    background-color: #013a63;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.first {
    background-color: #ddffaa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}

.second {
    background-color: #bbaa99;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23B0A090' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
}

.third {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

.fourth {
    background-color: #f29e03;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
}

.fifth {
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca481d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

/*Responsiveness Styles*/
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    .main-content {
        width: initial;
        min-width: initial;
        max-height: 320px;
        transform: rotate(90deg);
    }

    .header {
        font-size: 10vw;
    }

    .reset-btn {
        height: 165px;
        margin-top: -165px;
        font-size: 7rem;
    }
}
